.archive {

  a {
    @include transition(all .3s ease-out);
    color: $default-color;
    opacity: .6;
  }

  a:hover,
  a:focus {
    opacity: 1;
    text-decoration: none;
  }


  &-tag-post {
    border-bottom: 1px solid $grey-2;
    padding: 1.8rem 0;

    &:first-child {
      margin-top: 4rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time-post {
    border-bottom: 1px solid $grey-2;
    padding: 1.8rem 0;

    &:first-child {
      margin-top: 4rem;
    }

    &:last-child {
      margin-bottom: 3.6rem;
    }
  }

  &-title {
    color: $default-dark;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &-info {
    color: $default-light;
    font-size: 0.9rem;
    float: right;
  }

  &-finish {
    clear: both;
  }

  &-top {
    font-size: 1rem;
    text-align: center;
  }


}
