.post {
  padding-top: 6rem;

  a:hover {
    text-decoration: underline;
  }

  &-title {
    font-size: $font-size-normal-plus3;
    margin: 0;
  }

  &-paper {
    font-size: $font-size-normal-plus1;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;

    a {
      @include transition(all .3s ease-out);
      color: $default-color;
      opacity: .6;
    }

    a:hover,
    a:focus {
      opacity: 1;
      text-decoration: none;
    }

  }

  &-project-info {
    color: $default-light;
    font-size: $font-size-normal;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;

  }

  &-info {
    color: $default-light;
    font-size: $font-size-normal-minus2;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;

    a {
      @include transition(all .3s ease-out);
      color: $default-color;
      opacity: .6;
    }

    a:hover,
    a:focus {
      opacity: 1;
      text-decoration: none;
    }
  }

  &-line {
    border-top: 0.1rem solid $grey-2;
    margin-bottom: 2rem;
  }

  &-divider {
    margin: 0 1rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-light;
    display: block;
    font-size: $font-size-normal-minus2;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}
