---
layout: page
---

<div class="archive">

  <!-- Year List -->
  <div>
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <a href="#{{ year.name | cgi_escape }}">{{ year.name }}
        <span>({{ year.size }})</span>
      </a>
      <br>
    {% endfor %}
  </div>


  <!-- Year Posts -->
  <div>
      {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
      {% for year in postsByYear %}
      <div class="archive-time-post">
        <div class="archive-title" id="{{ year.name | cgi_escape }}">
          {{ year.name }}
        </div>
        {% for post in year.items %}
          {% if post.title != null %}
          <div>
            <span>
                <a href="{{ post.url }}">
                {{ post.title }}
                {% if post.title_cn %}
                  /&nbsp;<span class="cn">{{ post.title_cn }}</span>
                {% endif %}
              </a>
            </span>
            <span class="archive-info">
              {{ post.date | date: "%m.%d" }}
            </span>
          </div>
          <div class="archive-finish">
          </div>
          {% endif %}
        {% endfor %}
        <div class="archive-top"> <a href="#">Top</a>
        </div>
      </div>
      {% endfor %}
  </div>


</div>
