---
layout: default
---

<div class="bio">
      <div class="bio-pic">
        <img src="/assets/la-2015-gray.jpg" alt="Weizi Li">
      </div>

      <div>
        <p>Hi, I'm Weizi Li, a graduate student at the <a href="https://www.unc.edu/">University of North Carolina at Chapel Hill</a>.</p>
      </div>

      <span class="sep"><img src="/assets/sep.png" alt="seperation"></p></span>

      <div class="bio-text-cn">
        <p>我是一名<a href="https://www.unc.edu/">北卡大学</a>的学生.</p>
      </div>
</div>
