---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}
    {% if page.title_cn %}
      /&nbsp;<span class="cn">{{ page.title_cn }}</cn>
    {% endif %}
  </h1>

  <div class="post-info">
    {% if page.date %}
      <a href="/time#{{page.date | date: "%Y"}}" >{{ page.date | date: "%Y.%m.%d" }}</a>
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <span class="post-divider">–</span>
      <a href="/tags#{{ tag }}" >{{ tag }}</a>
      {% endfor %}
    {% endif %}
  </div>

  <div class="post-line"></div>

  <div>
    {{ content }}
  </div>
</div>


<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;&nbsp;newer</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">older&nbsp;&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
